body {
    color: #1C2321;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #EEF1EF;
    max-width: 1024px;
    box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Sora", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
    color: #0D1B2A
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

header li {
    display: inline;
    margin-inline-start: 1rem;
    list-style-type: none;
    font-family: "Sora", sans-serif;
    font-weight: bold;
}

header li a {
    text-decoration: none;
    color: #0D1B2A
}

header li a:visited {
    color: #0D1B2A
}

nav, section {
  border-block-end: 1px solid #0D1B2A;
}

header .controls {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 0;
}

.toggle-switch {
    display: inline-flex;
    align-items: center;
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
}
  
.toggle-switch-border {
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 36px;
    border: 1px solid #0D1B2A; 
    border-radius: 20px;
    box-sizing: border-box;
    margin-inline-start: 8px;
}

.toggle-switch input {
    display: none;
}

.toggle-switch-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #0D1B2A;
    transform: translateX(3px);
    transition: transform .1s ease-in-out;
}

.toggle-switch input:checked + * .toggle-switch-dot {
    transform: translateX(26px);
}

.bio .profile-image {
    margin-inline-end: 4rem;
    width: 320px;
    min-width: 320px;
    border-radius: 320px;
}

.bio {
    display: flex;
    padding-block-end: 4rem;
}

a.bio-btn {
    text-decoration: none;
    background-color: #5E6572;
    color: #EEF1EF;
    border-radius: 1.25rem;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.project-image {
    max-width: 512x;
    border-radius: 2rem;
    margin-inline-start: 2rem;
}

article {
    display: flex;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }
    article {
        flex-direction: column;
    }
    .project-image {
        max-width: 100%;
        border-radius: 2rem;
        margin-inline-start: 2rem;
    }
}
