@media only screen and (max-width: 1024px) {
    header {
        width: 90%;
        padding: 0 5%;
    }
}

@media only screen and (max-width: 768px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    .nav-link-list {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .mobile-nav-link-list {
        padding-left: 0.5rem;
    }
}