html { 
    scroll-behavior: smooth; 
}

body {
    font-size: 16px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: white;
    z-index: 0;
}

.light-mode {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.dark-mode {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgb(29, 29, 31);
    position: fixed;
    z-index: 10;
}

header a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: light;
}

header a:hover {
    color: white;
}

.logo {
    margin-inline-start: 5%;
    font-size: 1.25rem;
}

.logo-icon {
    --fa-animation-iteration-count: 1;
    --fa-animation-delay: 250ms;
}

#desktop-nav {
    display: block;
    margin-inline-end: 5%;
}

#mobile-nav {
    display: none;
    flex-flow: column wrap;
    margin-inline-end: 5%;
}

.nav-link-list {
    display: inline-flex;
}

.nav-link-list li {
    list-style-type: none;
    margin-inline-start: 2rem;
}

.nav-button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
}

.mobile-nav-link-list {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    padding: 0 0.5rem 0.5rem 0.5rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear, transform 0.5s ease-in-out;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 29, 31);
    z-index: 20;
}

.mobile-nav-link-list.open {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0s;
}

.mobile-nav-link-list a {
    color: white;
}

.mobile-nav-link-list a:hover {
    color:  rgba(255, 255, 255, 0.8);
}

.mobile-nav-link-list li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.home-container {
    padding: 0 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 85vh;
}

.home-text {
    padding: 0 4rem;
}

.home-text h1 {
    font-size: 2.5rem;
}

.home-text p {
    font-size: 1.25rem;
}

.home-text h1, h2, p {
    padding: 0.25rem 0;
    margin: 0;
}

.home-text a {
    color: rgba(29, 29, 31);
    text-decoration: none;
    font-weight: bold;
}

.home-img {
    width: 30vw;
    height: 30vw;
    border: 0.25rem solid black;
    border-radius: 50%;
}

.home-arrow {
    text-align: center;
    height: 15vh;
}

.home-arrow h3 {
    padding: 0;
}

.home-arrow a {
    color: rgba(29, 29, 31);
}

.button-container {
    position: fixed;
}

.light-mode-button, .dark-mode-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
}

.light-mode-button:hover {
    cursor: pointer;
    color:rgb(83, 83, 83);
}

.dark-mode-button {
    visibility: hidden;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .light-mode-button {
    visibility: hidden;
}

.dark-mode .dark-mode-button {
    visibility: visible;
    background-color: black;
    color: white;
    border-color: white;
}

.dark-mode .dark-mode-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.65);
}

.dark-mode .home-img {
    border-color: white;
}

.dark-mode .home-text a {
    color: rgba(255, 255, 255, 0.75);
}

.dark-mode .home-arrow a {
    color: white;
}

.dark-mode .skills-list { 
    color: white;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.about-terminal {
    font-family: "Monaco", 'Courier New', Courier, monospace;
    height: 80%;
    width: 80%;
    background-color: rgba(29, 29, 31);
    color: white;
    border-radius: 1rem;
}

.terminal-content {
    padding: 0.5rem;
    padding-top: 0;
}

.about-window {
    background-color: rgb(60, 60, 60);
    padding: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-window .button-list {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0.25rem 0;
}

.about-window .button {
    color: gray;
    background-color: gray;
    border-radius: 50%;
    margin-inline-start: 0.5rem;
}

.about-window .button:hover {
    background-color: rgb(60, 60, 60);
}

.about p {
    font-size: 1rem;
}

.about .type {
    animation: type 1s steps(2) infinite;
    color: white;
}

.skills-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 80%;
    height: 100vh;
}

.skills-container h1 {
    font-size: 3rem;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

.skills-list li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: none;
    transition-duration: 500ms;
}

.skills-list i {
    margin: 0 auto;
    font-size: 6rem;
}

.skills-list p {
    padding-top: 0.5rem;
    margin: 0 auto;
}

.skills-list li:hover {
    transform: translateY(0px) scale(1.2) translateZ(0px);
}

.project {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-bottom: 6rem;
}

.project-title {
    font-size: 3rem;
    padding: 2rem 0;
}

.project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
}

.project-item {
    width: 20rem;
    height: 20rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding-bottom: 0.5rem;
}

.dark-mode .project-item {
    border-color: white;
}

.project-display {
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-bottom: 2.75rem;
    font-size: 1.25rem;
}

.project .button, .project .fa-circle-plus {
    color: black;
    border-radius: 50%;
    padding-right: 0.25rem; 
}

.dark-mode .project .fa-circle-plus {
    color: white;
}

.project .fa-circle-plus:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.dark-mode .project .fa-circle-plus:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: black;
}

.project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-stack {
    font-size: 1.25rem;
    margin: 0;
    margin-inline-start: 1rem;
}

.project-stack p {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
}

.project-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.4);
    transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4rem;
}

.dark-mode .project-popup {
    background-color: rgba(255, 255, 255, 0.1);
}

.project-popup:target {
  visibility: visible;
  opacity: 1;
}

.project-popup-content {
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    width: 60%;
    position: relative;
    transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
}

.dark-mode .project-popup-content {
    background-color: black;
    color: white;
}

.project-popup-content .link {
    color: black;
    border-radius: 50%;
}

.dark-mode .project-popup-content .link {
    color: white;
    border-radius: 50%;
}

.project-popup-content .link:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.dark-mode .project-popup-content .link:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: black;
}

.project-popup-content .close {
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
}

.dark-mode .project-popup-content .close {
    color: white;
}

.project-popup-content .close:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.dark-mode .project-popup-content .close:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: black;
}

.project-popup-content p {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.project-popup-content .framework {
    display: inline-block;
}

.project-popup-content i {
    font-size: 2rem;
}

footer {
    border-top: 1px solid rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
    width: 80%;
}

.contact-heading {
    text-align: center;
    padding-bottom: 4rem;
}

footer .contact-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

footer .link {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.dark-mode footer .link {
    color: white;
}

footer .link:hover i {
    color: rgb(83, 83, 83);
    background-color: white;
}

.dark-mode footer .link:hover i {
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
}

footer .copyright {
    text-align: center;
}

.footer-arrow {
    padding-top: 2rem;
    text-align: center;
    height: 15vh;
}

.footer-arrow h3 {
    padding: 0;
}

.footer-arrow a {
    color: rgba(29, 29, 31);
}

.dark-mode .footer-arrow a {
    color: white;
}
 
@keyframes type {
    0% { 
        opacity: 0; 
    }
}