html { 
    scroll-behavior: smooth; 
}

body {
    font-size: 16px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 5%;
    color: white;
    background-color: rgba(29, 29, 31);
    position: fixed;
    z-index: 10;
}

.logo {
    font-size: 1.25rem;
    font-weight: normal;
}

.logo-icon {
    display: block;
    --fa-animation-iteration-count: 1;
}

#desktop-nav {
    display: block;
}

#mobile-nav {
    display: none;
    flex-flow: column wrap;
}

.nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style-type: none;
    margin-inline-start: 2rem;
}

.fa-bars {
    display: inline-flex;
    justify-content: space-around;
    cursor: pointer;
}

.mobile-nav-links {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0 5%;
    padding-bottom: 0.5rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear, transform 0.3s ease-in-out;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(29, 29, 31);
    z-index: 20;
    overflow: hidden;
    border-bottom-left-radius: 1rem;
}

.mobile-nav-links.open {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0s;
}

.mobile-nav-links li {
    list-style-type: none;
    font-size: 1rem;
}

header a {
    color: rgba(255, 255, 255, 0.8);;
    text-decoration: none;
    font-weight: light;
}

header a:hover {
    color: white;
}

.home-container {
    padding: 0 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 85vh;
}

.home-text {
    padding: 4rem;
}

.home-text h1, h2 {
    font-size: 3rem;
}

.home-text p {
    font-size: 1.5rem;
}

.home-text h1, h2, p {
    padding: 0.25rem 0;
    margin: 0;
}

.home-text a {
    color: rgba(29, 29, 31);
    text-decoration: none;
    font-weight: bold;
}

.home-img {
    width: 35%;
    border: 0.25rem solid black;
    border-radius: 50%;
}

.home-arrow {
    text-align: center;
    height: 15vh;
}

.home-arrow h3 {
    padding: 0;
}

.home-arrow a {
    color: rgba(29, 29, 31);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.about-terminal {
    font-family: "Monaco", 'Courier New', Courier, monospace;
    height: 70%;
    width: 70%;
    background-color: rgba(29, 29, 31);
    color: white;
    border-radius: 1rem;
}

.terminal-content {
    padding: 0.5rem;
    padding-top: 0;
}

.about-window {
    background-color: rgb(60, 60, 60);
    padding: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-window .button-list {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0.25rem 0;
}

.about-window .button {
    color: gray;
    background-color: gray;
    border-radius: 50%;
    margin-inline-start: 0.5rem;
}

.about-window .button:hover {
    background-color: rgb(60, 60, 60);
}

.about p {
    font-size: 1rem;
}

.about .type {
    animation: type 1s steps(2) infinite;
    color: white;
}

.skills-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 0;
}

.skills-list li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: none;
    transition-duration: 500ms;
}

.skills-list i {
    margin: 0 auto;
}

.skills-list img, svg {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    padding-bottom:a 
}

.skills-list p {
    padding-top: 0.5rem;
    margin: 0 auto;
}

.skills-list li:hover {
    transform: translateY(0px) scale(1.2) translateZ(0px);
}

.project {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-title {
    padding: 4rem;
}

.project-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.project-wrap {
    padding: 2rem 4rem;
}

.project-item {
    width: 40vh;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.project-display {
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-bottom: 2.75rem;
    font-size: 1.25rem;
}

.project .fa-circle-plus {
    color: black;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
}

.project .fa-circle-plus:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-stack {
    font-size: 1.25rem;
    margin: 0;
    margin-inline-start: 1rem;
    margin-bottom: 0.5rem;
}

.project-stack p {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
}

.project-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.4);
    transition: visibility 500ms ease-in-out, opacity 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4rem;
}

.project-popup:target {
  visibility: visible;
  opacity: 1;
}

.project-popup-content {
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    width: 50%;
    position: relative;
    transition: visibility 500ms ease-in-out, opacity 500ms ease-in-out;
}

.project-popup-content .link {
    color: black;
    border-radius: 50%;
}

.project-popup-content .link:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.project-popup-content .close {
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
}

.project-popup-content .close:hover {
    color: rgb(83, 83, 83);
    background-color: white;
}

.project-popup-content p {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.project-popup-content .framework {
    display: inline-block;
}

footer {
    border-top: 1px solid rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
    width: 80%;
}

.contact-heading {
    text-align: center;
    padding-bottom: 4rem;
}

footer .contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

footer .link {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

footer .link:hover i {
    color: rgb(83, 83, 83);
    background-color: white;
}

footer .copyright {
    text-align: center;
}

.footer-arrow {
    padding-top: 2rem;
    text-align: center;
    height: 15vh;
}

.footer-arrow h3 {
    padding: 0;
}

.footer-arrow a {
    color: rgba(29, 29, 31);
}
 
@keyframes type {
    0% { 
        opacity: 0; 
    }
}